@model Bai4.Models.CalculatorModel

@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

@using (Html.BeginForm("Calculate", "Calculator", FormMethod.Post))
{
    <label>Number 1:</label>
    @Html.TextBoxFor(m => m.Number1)
    <br />

    <label>Number 2:</label>
    @Html.TextBoxFor(m => m.Number2)
    <br />

    <label>Operation:</label>
    <select name="Operation">
        <option value="Add">Add</option>
        <option value="Subtract">Subtract</option>
        <option value="Multiply">Multiply</option>
        <option value="Divide">Divide</option>
    </select>
    <br />

    <button type="submit">Calculate</button>
}

