@{
    ViewBag.Title = "TienDien";
}

<div class="row">
    <div class="col-6">
        <form method="POST" action="@Url.Action("Calculate", "TienDien")">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center fs-4">Tính tiền điện</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Họ tên chủ hộ: </td>
                        <td> <input type="text" name="ht" required /></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Loại điện tiêu thụ: </td>
                        <td>
                            <select name="loaidien" id="loaidien" required>
                                <option value="sh">Sinh hoạt</option>
                                <option value="kd">Kinh doanh</option>
                                <option value="sx">Sản xuất</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Vào chỉ số cũ: </td>
                        <td>
                            <input type="number" name="sc" required /> <b>KW</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Vào chỉ số mới: </td>
                        <td>
                            <input type="number" name="sm" required /> <b>KW</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="3" class="text-center">
                            <input type="submit" value="TÍNH" class="btn btn-primary" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>